openapi: 3.2.0
info:
  version: 2.0.0
  title: cove.tool REST API v2 User API
  termsOfService: https://www.cove.tools/terms-of-use
  x-logo:
    url: ./covetool_logo.png
    altText: cove.tool logo
  description: '# Introduction

    The cove.tool API is a set of HTTP endpoints that help your app integrate with cove.tool.'
servers:
- url: https://app.covetool.com/api/v2
tags:
- name: User
paths:
  /auth/signup:
    post:
      tags:
      - User
      summary: Enables the creation of a cove.tool user account
      description: cove.tool accounts can now be created via an API call within your business/organization. This adds a potential new user account to your cove.tool license that are able to access cove.tool products and features.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignupRequests'
        description: User information of a cove.tool account to be created
      responses:
        '201':
          description: Successfully Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSignupOKResponses'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: postAuthSignup
      x-operation-id-source: derived
components:
  responses:
    BadRequest:
      description: Invalid request. Check contents of your response body.
  schemas:
    UserSignupRequests:
      type: object
      required:
      - email
      - password
      - first_name
      - last_name
      properties:
        email:
          type: string
          format: email
          example: hello@covetool.com
        password:
          type: string
          format: password
          example: mysupersecurepassword
        first_name:
          type: string
          example: John
        last_name:
          type: string
          example: Smith
    UserInformationResponseData:
      type: object
      required:
      - is_owner
      - is_admin
      - created_at
      - email
      - first_name
      - last_name
      - business
      properties:
        is_owner:
          type: boolean
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        business:
          type: object
          properties:
            name:
              type: string
            telephone:
              type: number
            user_limit:
              type: number
            domain:
              type: string
              format: url
            size:
              type: number
    UserSignupOKResponses:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      properties:
        data:
          $ref: '#/components/schemas/UserInformationResponseData'
      example:
        data:
          is_owner: false
          is_admin: false
          created_at: '2022-01-28T12:00:47.649935-05:00'
          email: user@company.com
          first_name: John
          last_name: Smith
          business:
            name: My Company Name
            telephone: 123-456-7890
            user_limit: 10
            domain: mycompanywebsite.com
            size: null
        msg: A new user-profile was created. Activate via email.
        error: []
    GeneralEndpointResponses:
      type: object
      required:
      - data
      - msg
      - errors
      properties:
        data:
          type: object
        msg:
          type: string
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
