openapi: 3.2.0
info:
  version: 2.0.0
  title: cove.tool REST API v2 Profiles API
  termsOfService: https://www.cove.tools/terms-of-use
  x-logo:
    url: ./covetool_logo.png
    altText: cove.tool logo
  description: '# Introduction

    The cove.tool API is a set of HTTP endpoints that help your app integrate with cove.tool.'
servers:
- url: https://app.covetool.com/api/v2
tags:
- name: Profiles
paths:
  /profiles/{profile_id}:
    get:
      tags:
      - Profiles
      security:
      - apiKeyAuth: []
      summary: Obtain user information
      description: Retrieves the details of a user account within your business/organiation if it exists. If the profile ID does not exist, this call returns an error.
      parameters:
      - in: path
        name: profile_id
        schema:
          type: integer
        required: true
        description: Numeric ID of profile to obtain
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '403':
          description: You do not have permission
        '404':
          description: Resource not found
      operationId: getProfilesByProfileId
      x-operation-id-source: derived
components:
  schemas:
    GeneralEndpointResponses:
      type: object
      required:
      - data
      - msg
      - errors
      properties:
        data:
          type: object
        msg:
          type: string
        errors:
          type: array
          items:
            type: string
    UserInformationResponseData:
      type: object
      required:
      - is_owner
      - is_admin
      - created_at
      - email
      - first_name
      - last_name
      - business
      properties:
        is_owner:
          type: boolean
        is_admin:
          type: boolean
        created_at:
          type: string
          format: date-time
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        business:
          type: object
          properties:
            name:
              type: string
            telephone:
              type: number
            user_limit:
              type: number
            domain:
              type: string
              format: url
            size:
              type: number
    UserProfileResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      properties:
        data:
          $ref: '#/components/schemas/UserInformationResponseData'
      example:
        data:
          is_owner: true
          is_admin: false
          created_at: '2022-01-28T12:00:47.649935-05:00'
          email: user@covetool.com
          first_name: John
          last_name: Smith
          business:
            name: Cove Tool
            telephone: 770-777-7777
            user_limit: 10
            domain: covetool.com
            size: null
        msg: Successfully retrieved resource
        errors: {}
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
