openapi: 3.2.0
info:
  version: 1.0.0
  title: cove.tool Authentication Token API
  termsOfService: https://www.cove.tools/terms-of-use
  contact:
    name: API Support
    email: developers@covetool.com
  x-logo:
    url: ./covetool_logo.png
    altText: cove.tool logo
    href: https://cove.tools
  x-apiVersions:
    versions:
    - v1
    - v2
    versionSpecs:
    - openapi-v1.yaml
    - openapi-v2.yaml
    defaultVersionSpec: v1
  description: '# Introduction


    The cove.tool API contain the following HTTP endpoints to upload your project''s geometry and obtain an Energy Usage Intensity (EUI) breakdown.'
servers:
- url: https://app.covetool.com/api
tags:
- name: Authentication Token
  description: 'Attempting to make API requests without authentication will fail. API requests must be made

    over HTTPS. Authentication tokens are used to help identify the user

    attempting to make the HTTP requests.


    By providing an authentication token on every request, it checks whether

    the user is authorized and has permission to update and retrieve data.


    Be sure to include it in every request header once you start making API calls.'
paths:
  /get-token:
    post:
      x-customPath:
        name: /api-token
      tags:
      - Authentication Token
      summary: Obtain an API token to authenticate requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequests'
        description: API auth token request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponses'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-codeSamples:
      - lang: Python
        label: Python
        source: "import json, requests\n\nclass ApiHelpers:\n  # Same credentials you use to log in to cove.tool\n  def __init__(self, username, password):\n      self.token = self._get_api_token(username, password)\n\n  def post_request(self, path, data, use_token=True):\n      url = self._api_url(path)\n      headers = self._headers(use_token)\n      response = requests.post(url, headers=headers, json=data)\n      return self._handle_response(response)\n\n  def get_request(self, path, use_token=True):\n      url = self._api_url(path)\n      headers = self._headers(use_token)\n      response = requests.get(url, headers=headers)\n      return self._handle_response(response)\n\n  def _api_url(self, path):\n      return 'https://app.covetool.com/api/' + path + '/'\n\n  def _get_api_token(self, username, password):\n      data = {\n          'username': username,\n          'password': password,\n      }\n      response_data = self.post_request('get-token', data, False)\n      token = response_data['token']\n      return str(token)\n\n  def _headers(self, use_token):\n      headers = {}\n      if use_token:\n          headers['Authorization'] = 'Token ' + self.token\n      return headers\n\n  def _handle_response(self, response):\n      if response.ok:\n          return response.json()\n      else:\n          return {'result': 'error'}\n\n# Set up helpers instance\nusername = 'username' # Replace with your cove.tool username\npassword = 'password' # Replace with your cove.tool password\nhelpers = ApiHelpers(username, password)\n\n# Print API token\nprint(helpers._get_api_token(username, password))\n"
      description: 'Authentication tokens expire after 7 days and a new one must be fetched. When the token will expire (in seconds) is included in the response.


        Be sure to pass in valid cove.tool associated credentials to obtain your authentication token.'
      operationId: postGetToken
      x-operation-id-source: derived
components:
  responses:
    BadRequest:
      description: Bad/Invalid request
  schemas:
    AuthTokenResponses:
      type: object
      required:
      - expires_in
      - token
      properties:
        expires_in:
          type: boolean
          format: string
          example: '604799.998047'
        token:
          type: string
          format: string
          example: aaaa1111aaaa1111aaaa1111aaaa1111aaaa
    AuthTokenRequests:
      type: object
      required:
      - username
      - password
      properties:
        username:
          type: string
          format: email
          example: hello@covetool.com
        password:
          type: string
          format: string
          example: mysupersecurepassword
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: Authorization
x-tagGroups:
- name: Authentication
  tags:
  - Authentication Header
  - Authentication Token
- name: Projects
  tags:
  - Projects
  - Project Geometry
