openapi: 3.2.0
info:
  version: 2.0.0
  title: cove.tool REST API v2 Energy Codes API
  termsOfService: https://www.cove.tools/terms-of-use
  x-logo:
    url: ./covetool_logo.png
    altText: cove.tool logo
  description: '# Introduction

    The cove.tool API is a set of HTTP endpoints that help your app integrate with cove.tool.'
servers:
- url: https://app.covetool.com/api/v2
tags:
- name: Energy Codes
paths:
  /energy-codes:
    get:
      tags:
      - Energy Codes
      security:
      - apiKeyAuth: []
      summary: Enumerates list of energy codes supported by cove.tool or in specific projects
      description: Retrieve a list of available energy codes supported by cove.tool's automated model generation or for a specific project and its compatible energy codes depending on the query parameters passed in.
      parameters:
      - in: query
        name: for_project
        description: Specific project number
        example: 1
        schema:
          type: integer
      - in: query
        name: name
        schema:
          $ref: '#/components/schemas/EnergyCodesEnum'
        example: California
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/EnergyCodeForProjectsResponses'
                - $ref: '#/components/schemas/EnergyCodeResponses'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getEnergyCodes
      x-operation-id-source: derived
components:
  schemas:
    EnergyCodeResponses:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      properties:
        data:
          $ref: '#/components/schemas/EnergyCodeResponseData'
      example:
        data:
        - id: 1
          name: ASHRAE 2007
        - id: 2
          name: ASHRAE 2010
        - id: 3
          name: ASHRAE 2013
        - id: 7
          name: ASHRAE 2016
        - id: 12
          name: ASHRAE 2019
        - id: 9
          name: ASHRAE Residential 2018
        - id: 4
          name: Commercial - California Title 24 2016
        - id: 10
          name: Commercial - California Title 24 2019
        - id: 16
          name: Japan Commericla Energy Code
        - id: 17
          name: Japan Residential Energy Code
        - id: 5
          name: NECB 2011
        - id: 6
          name: NECB 2015
        - id: 15
          name: NECB 2017
        - id: 14
          name: National Construction Code (NCC) 2019
        - id: 8
          name: Single Family Home - California Title 24 2016
        - id: 11
          name: Single Family Home - California Title 24 2019
        - id: 13
          name: UK NM
        msg: Successfully found results.
        errors: {}
    EnergyCodeForProjectResponseData:
      type: object
      allOf:
      - $ref: '#/components/schemas/EnergyCodeResponseData'
      - type: object
      required:
      - selected
      properties:
        selected:
          type: boolean
    EnergyCodeForProjectsResponses:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      properties:
        data:
          $ref: '#/components/schemas/EnergyCodeForProjectResponseData'
      example:
        data:
        - id: 1
          name: ASHRAE 2007
          selected: false
        - id: 2
          name: ASHRAE 2010
          selected: false
        - id: 3
          name: ASHRAE 2013
          selected: true
        - id: 7
          name: ASHRAE 2016
          selected: false
        - id: 12
          name: ASHRAE Residential 2018
          selected: false
        msg: Successfully found results.
        errors: {}
    EnergyCodesEnum:
      type:
      - string
      - 'null'
      description: Energy code names
      enum:
      - ASHRAE
      - California
      - Japan
      - UK
    EnergyCodeResponseData:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: number
        name:
          type: string
    GeneralEndpointResponses:
      type: object
      required:
      - data
      - msg
      - errors
      properties:
        data:
          type: object
        msg:
          type: string
        errors:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Unauthorized request. Check your API token if it is valid.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
