openapi: 3.2.0
info:
  version: 2.0.0
  title: cove.tool REST API v2 Daylight Analysis API
  termsOfService: https://www.cove.tools/terms-of-use
  x-logo:
    url: ./covetool_logo.png
    altText: cove.tool logo
  description: '# Introduction

    The cove.tool API is a set of HTTP endpoints that help your app integrate with cove.tool.'
servers:
- url: https://app.covetool.com/api/v2
tags:
- name: Daylight Analysis
paths:
  /analysis:
    post:
      tags:
      - Daylight Analysis
      security:
      - apiKeyAuth: []
      summary: Kickstarts all analysis types for a given project
      description: Fires off the daylight analysis calculations to start running for a given project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunDaylightAnalysisRequestBody'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunDaylightAnalysisResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: postAnalysis
      x-operation-id-source: derived
  /analysis/{project_id}:
    get:
      tags:
      - Daylight Analysis
      security:
      - apiKeyAuth: []
      summary: Retrieves the results for daylight analysis for a given project
      parameters:
      - in: path
        required: true
        name: project_id
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaylightAnalysisResultsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: getAnalysisByProjectId
      x-operation-id-source: derived
  /analysis/{project_id}/status:
    get:
      tags:
      - Daylight Analysis
      security:
      - apiKeyAuth: []
      summary: Obtains the remaining number of jobs per analysis type for a given project
      parameters:
      - in: path
        required: true
        name: project_id
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaylightAnalysisStatusResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
      operationId: getAnalysisByProjectIdStatus
      x-operation-id-source: derived
  /analysis/{project_id}/stop:
    get:
      tags:
      - Daylight Analysis
      security:
      - apiKeyAuth: []
      summary: Halts all analyses calculations for a given project
      parameters:
      - in: path
        required: true
        name: project_id
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopDaylightAnalysisResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getAnalysisByProjectIdStop
      x-operation-id-source: derived
components:
  schemas:
    DaylightAnalysisStatusResponseData:
      type: array
      items:
        type: object
        required:
        - analysis
        - jobs_total
        - jobs_remaining
        properties:
          analysis:
            type: string
          jobs_total:
            type: number
          jobs_remaining:
            type: number
    DaylightAnalysisResultsResponseData:
      type: array
      items:
        type: object
        required:
        - run_id
        - building_type
        - floors
        - ase
        - sda
        properties:
          run_id:
            type: number
          building_type:
            type: string
          floors:
            type: array
            items:
              type: object
              required:
              - id
              - ase
              - sda
              properties:
                id:
                  type: number
                ase:
                  type: number
                  format: double
                sda:
                  type: number
                  format: double
          ase:
            type: number
            format: double
          sda:
            type: number
            format: double
    StopDaylightAnalysisResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      example:
        data: null
        msg: All analyses were successfully halted.
        errors: {}
    DaylightAnalysisStatusResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      properties:
        data:
          $ref: '#/components/schemas/DaylightAnalysisStatusResponseData'
      example:
        data:
        - analysis: daylight
          jobs_total: 5
          jobs_remaining: 0
        - analysis: covid
          jobs_total: 5
          jobs_remaining: 0
        - analysis: lvc
          jobs_total: 5
          jobs_remaining: 0
        - analysis: radiation
          jobs_total: 6
          jobs_remaining: 0
        msg: Successfully retrieved resource.
        errors: {}
    RunDaylightAnalysisRequestBody:
      type: object
      required:
      - project_id
      - analysis_types
      properties:
        project_id:
          type: number
          example: 33
        analysis_types:
          type: array
          items:
            type: string
          example:
          - daylight
    RunDaylightAnalysisResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      example:
        data: null
        msg: The analysis job was accepted.
        errors: {}
    DaylightAnalysisResultsResponse:
      type: object
      allOf:
      - $ref: '#/components/schemas/GeneralEndpointResponses'
      - type: object
      properties:
        data:
          $ref: '#/components/schemas/DaylightAnalysisResultsResponseData'
      example:
        data:
        - run_id: 3
          building_type: Education
          floors:
          - id: 430
            ase: 10.891089108910892
            sda: 26.732673267326735
          ase: 10.891089108910892
          sda: 26.732673267326735
        msg: Successfully found results.
        errors: {}
    GeneralEndpointResponses:
      type: object
      required:
      - data
      - msg
      - errors
      properties:
        data:
          type: object
        msg:
          type: string
        errors:
          type: array
          items:
            type: string
  responses:
    BadRequest:
      description: Invalid request. Check contents of your response body.
    NotFound:
      description: The specified resource was not found. Verify if the URI is accurate.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
